body {
  background-color: white;
}

.dropbtnAddData {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#resetButton {
  color: lightcoral;
}

#resetButton:hover {
  color: red;
}

.navbar-toggler {
  border: none;
  margin-right: 2%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

h4 {
  font-family: "Cinzel", serif;
  cursor: default;
}

.chartContainer {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1%;
}

.title {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1vh;
  cursor: default;
  font-family: "Cinzel", serif;
}

input {
  margin: 2px;
}

label {
  margin: 2px;
}

#addButton {
  margin-top: 10px;
}

.chartDiv {
  position: relative;
  height: 79vh;
  display: flex;
  justify-content: center;
}

#canvas {
  margin-bottom: 1vh;
}

.nav-link {
  margin-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 850px) {
  .info {
    display: contents;
    justify-content: center;
  }
}

@media only screen and (max-width: 1350px) {
  .chartDiv {
    height: 75vh;
  }
}

@media only screen and (max-width: 850px) {
  .chartDiv {
    height: 70vh;
  }
}